# Binários
stress-test
*.exe
*.exe~
*.dll
*.so
*.dylib

# Arquivos de teste
*.test

# Saída de go coverage
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Arquivos do IDE
.vscode/
.idea/
*.swp
*.swo

# Variáveis de ambiente
.env
.env.local